.contact-links {
  display: flex;
  padding: 2em;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.contact-links a {
  margin-right: 1em;
}

.contact-links span {
  margin-left: 1em;
  letter-spacing: 0.1em;
}
